# Pastas de dependências
node_modules/
target/
.mvn/
wrapper/

# Arquivos de IDE
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# Build e Dist
dist/
build/
*.jar
*.war

# Logs e Dados Locais
logs/
*.log
postgres_data/

# Sistema Operacional
.DS_Store
Thumbs.db

# Ambiente
.env

__pycache__/
*.pyc