version: '3.8'

services:
  # 1. Banco de Dados
  db:
    image: postgis/postgis
    container_name: vigimanaus-db
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - vbe-network

  # 2. Back-end (API Java)
  api:
    build: ./api
    container_name: vigimanaus-api
    restart: always
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SERVER_PORT=8081
    depends_on:
      - db
    networks:
      - vbe-network

  # 3. Front-end (React)
  web:
    build: ./vbehub-web
    container_name: vigimanaus-web
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - vbe-network

volumes:
  postgres_data:

networks:
  vbe-network:
    driver: bridge